#work{
    background-color: #5B000E;
}
.project{
    width: 100%;
    height: 88vh;
    display: inline-flex;
}
.compScreen{
    width: 40%;
    background: url("images/monitorScreen.png") no-repeat;
    background-size: contain;
    position: relative;
    top: 10%;
    right: 43%;
}
.description{
    width: 50%;
    height: 60%;
    border: 15px double #141019;
    border-radius: 15px;
    background: rgba(157, 156, 156, 0.8);
    padding: 2%;
    padding-left: 7%;
    position: relative;
    top: 30%;
    left: 43%;
}
.projectTitle{
    font-family: Cardo, "Book Antiqua", serif;
    font-weight: bold;
    font-size: 2em;
}