#projects{
    background-color: #5B000E;
}
.sectionBody{
    margin: 3% 5%;
    height: 75%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    width: 30%;
    height: 46%;
    margin: 2% 1% 0 1%;
    padding: 2% 1%;
    border: 3px solid #0C032D;
    border-radius: 5px;
    background-color: darkgrey;
    text-align: center;
}
.projectPic{
    width: 96%;
    height: 80%;
    margin: 0 2% 5% 2%;
    overflow: hidden;
}
.projectPic>img{
    width: 200%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.projectPic>img:hover{
    width: 100%;
    text-align: center;
    -webkit-filter: blur(2px);
}
.projectTitle{
    color: #04010E;
    font-family: Cardo, "Book Antiqua", serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* MODAL INDIVIDUAL PROJECTS */
/*
.singleProject{
    width: 100%;
    height: 88vh;
    display: inline-flex;
}
.compScreen{
    width: 45%;
    position: relative;
    top: 8%;
    right: 43%;
}
.compScreen img{
    width: 100%;
}
.description{
    width: 50%;
    height: 50%;
    border: 15px double #141019;
    border-radius: 15px;
    background: rgba(157, 156, 156, 0.8);
    padding: 2%;
    padding-left: 7%;
    position: relative;
    top: 44%;
    left: 45%;
} */

