div#main_content{
    font-size: 100%;
    margin: 0 1%;
}
/* Links */
a:link, a:visited{
    color: #000080;
    text-decoration: underline;
}

/* Navigation Header */
#header{
    background-color: #FFBD5C;
    border: 2px #000080 solid;
    width: 100%;
    text-align: center;
    height: 15vh;
}
#nav{
    width: 100%;
    padding: 0;
}
/* Navigation list */
#nav li{
    margin-top: 2.5vh;
    font-size: 100%;
    list-style-type: none;
    width: 150px;
    display: inline-block;
    color: #000080;
    font-weight: 600;
}
#header li a:hover{
    border: 1px #000080 dotted;
    color: white;

}
/* Main Content */
h1{
    font-size: 150%;
    font-weight: 600;
    color: #000080;
}
#name{
    text-align: center;
    margin: 2%;
    font-size: 200%;
}

/* About Me section */
.basic_info{
    text-indent: 2em;
}
/* Skill section */
#skill_list{
    list-style-type: upper-roman;
}

/* Experience section */
#experience_list{
    list-style-type: none;
}
/* Titles & Dates */
.li_basic_info{
    list-style-type: none;
    display: inline-block;
    margin-right: 10vw;
}
/* Job description */
.co_description{
    list-style-type: none;
}
/* Responsibilities list */
#experience_list li:nth-child(4){
    list-style-type: disc;
}
/* Education & Certification section */
#edu li{
    display: inline-block;
}
#certs{
    padding: 0 2%;
}
#certs li{
    display: inline-block;
    list-style: none;
}
#certs li img{
    /*width: 10vw;*/
    display: inline-block;
    height: 5vw;
    margin: 0 2%;
}
/* Contact section */
#info_for_contact{
    text-align: center;
}
.contacts{
    list-style-type: none;
    display: inline-block;
    margin: 0 10vw;
    text-align: center;
}
.contacts a:hover{
    border: 1px #000080 dotted;
    color: #E65C00;
}
/* Form input */
form{
    margin-left: 5vw;
    width: 40%;
    padding: 2%;
}
form input{
    width: 70%;
    padding: 1%;
    margin: 2% 0;

}
form textarea{
    width: 95%;
    padding: 1%;
    display: block;
}
form label {
    width: 20%;
    display: inline-block;
    margin-right: 4%;
}
/* Submit Button */
form input:last-of-type{
    margin: 0;
}

/* Breakpoints for iPhone 6 screen */
@media screen and (max-width: 375px){
    /* Skills List */
    #skill_list{
        padding-left: 10%;
    }
    /* Experience List */
    #experience_list{
        padding: 0;
    }
    /* Contact Info */
    #info_for_contact{
        text-align: center;
        padding: 0;
    }
    #info_for_contact li{
        width: 100%;
        margin: 1% 0;
    }
    /* Contact Form */
    form{
        margin: 0 4vw;
        width: 90%;
        box-sizing: border-box;
        text-align: center;
    }
    form input {
        width: 90%;
    }
    form textarea{
        width: 90%;
        margin-left: 3%;
    }
    form label{
        text-align: left;
        width: 90%;
    }
    /* Submit button */
    form input:last-of-type{
        margin: 1% 0 1% -2%;
        width: 90%;
        box-sizing: content-box;
    }
} /* End breakpoint */
