body{
    margin: 0;
    font-family: "Fira Sans", Arial, sans-serif;
}
/* Navigation */
.navCol{
    width: 160px;
    height: 100vh;
    position: fixed;
    background-color: #141019;
    z-index: 500;
    text-align: center;
}

.logo{
    width: 100%;
}
.links ul{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
}
.links li{
    height: 18%;
}
.links, .links a{
    color: #E57A8B;
    font-size: 1.2em;
    text-decoration: none;
}
.links a{
    padding: 5%;
    position: relative;
    top: 40%;
}
.links a:hover{
    text-decoration: none;
    border: 2px solid #911B2E;
    border-radius: 4px;
}
a.smWords{
    position: relative;
    top: 0;
    font-size: 0.6em;
}
a.smWords:hover{
    border: none;
    text-decoration: underline;
}
.links a.currentSection {
    float: right;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #911B2E;
    background: #911B2E;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.currentSection::after{
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-left-color: #911B2E;
    border-width: 1.2em;
}
.links a.currentSection:hover{
    background: transparent;
}


/* Body */
.mainContent{
    min-height: 100vh;
    position: relative;
    padding-left: 160px; /* same as width of navCol */
}
.page{
    height: 100vh;
}
.secTitle{
    position: relative;
    height: 3em;
    padding: 2% 0 5% 0;
    text-align: right;
}
.secTitle text{
    position: absolute;
    right: 0;
    top: 50%;
    padding: 1%;
    margin: 0;
    font-family: Cardo, "Book Antiqua", serif;
    font-weight: bold;
    font-size: 2em;
    fill: #E57A8B;
}
.secTitle polygon{
    fill: #141019;
}
/*.secTitle>img{*/
    /*width: 75%;*/
    /*height: 4em;*/
/*}*/


/* header image */
#top{
    background: url("images/sky.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    text-align: center;
}
#nameTitle, .subTitle{
    position: relative;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
}
#nameTitle{
    font-family: Cardo, "Book Antiqua", serif;
    font-weight: bold;
    font-size: 3em;
}
.subTitle{
    font-size: 2em;
}

/* ~~ COLOR PALETTE ~~ */
/* As hex codes */
.color-secondary-2-0 { color: #B74053 }	/* Main color */
.color-secondary-2-1 { color: #F7B9C3 }
.color-secondary-2-2 { color: #E57A8B }
.color-secondary-2-3 { color: #911B2E }
.color-secondary-2-4 { color: #5B000E }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 44,125,107,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(152,203,191,1) }
.rgba-primary-2 { color: rgba( 83,156,140,1) }
.rgba-primary-3 { color: rgba( 19, 99, 81,1) }
.rgba-primary-4 { color: rgba(  0, 62, 48,1) }

.rgba-secondary-1-0 { color: rgba(194,147, 68,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,231,191,1) }
.rgba-secondary-1-2 { color: rgba(242,200,129,1) }
.rgba-secondary-1-3 { color: rgba(154,107, 29,1) }
.rgba-secondary-1-4 { color: rgba( 96, 60,  0,1) }

.rgba-secondary-2-0 { color: rgba(183, 64, 83,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(247,185,195,1) }
.rgba-secondary-2-2 { color: rgba(229,122,139,1) }
.rgba-secondary-2-3 { color: rgba(145, 27, 46,1) }
.rgba-secondary-2-4 { color: rgba( 91,  0, 14,1) }