.project{
    width: 30%;
    height: 46%;
    margin: 2%;
    margin-bottom: 0;
    padding: 2% 1%;
    text-align: center;
}
.projectDisplay{
    width: 96%;
    height: 80%;
    margin: 0 2% 5% 2%;
    border: 1px solid #555555;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #262626;
    overflow: hidden;
    position: relative;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.project:hover .projectDisplay{
    border: 1px solid #0C032D;
}

.displayRight>img{
    float: right;
}
.displayBottom>img{
    margin-top: -85%;
}
.project:hover .displayBottom>img{
    margin-top: -25%;
}
.projectPic>img{
    width: 170%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.project:hover .projectPic>img{
    width: 100%;
    text-align: center;
    -webkit-filter: blur(2px);
}
.projectButtons{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
    opacity: 0;
}
.projectButtons .btn-default{
    width: 60%;
    margin: 5%;
    font-weight: normal;
}

.projectTitle{
    font-family: Cardo, "Book Antiqua", serif;
    font-weight: bold;
    font-size: 1.6em;
}

/* Project Modal */

.modal-title, .modal-body, .modal-footer{
    color: #000000;
}
body.modal-open, .modal.fade.in{
    padding: 0 !important;
}

#projectModal .modal-dialog{
    width: 90%;
    max-height: 90%;
    /*transform: translate(0,50%);*/
}
.modal-content{
    width: 100%;
    height: 90vh;
}
.modal-body{
    height: 75%;
    overflow-y: scroll;
}
.modal-body p{
    text-indent: 2em;
}

.projectImages>.devices{
    display: block;
    margin: 0 auto;
    max-height: 55vh;

}
/* ~~ COLOR PALETTE ~~ */
/* As hex codes */
.color-primary-0 { color: #5B000E }	/* Main Primary color */
.color-primary-1 { color: #9E3142 }
.color-primary-2 { color: #7B1223 }
.color-primary-3 { color: #3D000A }
.color-primary-4 { color: #220005 }

.color-secondary-1-0 { color: #140842 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #3C2D73 }
.color-secondary-1-2 { color: #24165A }
.color-secondary-1-3 { color: #0C032D }
.color-secondary-1-4 { color: #060119 }

/* As RGBa codes */
.rgba-primary-0 { color: rgba( 91,  0, 14,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(158, 49, 66,1) }
.rgba-primary-2 { color: rgba(123, 18, 35,1) }
.rgba-primary-3 { color: rgba( 61,  0, 10,1) }
.rgba-primary-4 { color: rgba( 34,  0,  5,1) }

.rgba-secondary-1-0 { color: rgba( 20,  8, 66,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba( 60, 45,115,1) }
.rgba-secondary-1-2 { color: rgba( 36, 22, 90,1) }
.rgba-secondary-1-3 { color: rgba( 12,  3, 45,1) }
.rgba-secondary-1-4 { color: rgba(  6,  1, 25,1) }
